<div class="card shadow border-0 mt-4">
    <!-- Header -->
    <div class="card-header bg-primary bg-gradient text-white py-4">
        <h2 class="text-white text-center mb-0">Order List</h2>
    </div>
    <!-- Card Body -->
    <div class="card-body p-4">
       
        <!-- Table Section -->
        <div class="table-responsive-sm">
            <!-- Ensures table responsiveness on small screens -->
            <table id="tableData" class="table table-bordered table-striped table-hover align-middle text-center" style="width:100%">
                <thead class="table-dark">
                    <tr>
                        <th class="text-center align-middle">Id</th>
                        <th class="text-center align-middle">Name</th>
                        <th class="text-center align-middle">Phone Number</th>
                        <th class="text-center align-middle">Email</th>
                        <th class="text-center align-middle">Status</th>
                        <th class="text-center align-middle">Total</th>
                        <th class="text-center align-middle"></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/js/order.js"></script>
}