@model Category

<!-- Modal for Creating a New Category -->
<div class="modal fade" id="createCategoryModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <!-- Modal Title -->
                <h5 class="modal-title" id="createCategoryModalLabel">Create New Category</h5>
                <!-- Close Button for Modal -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <!-- Form for creating a new category -->
                <form id="createCategoryForm" method="post" asp-controller="Category" asp-action="Create">
                    
                    <!-- Uncomment to add Validation Summary for All Errors
						validation summary can be "All", "ModelOnly", "None"
                    <div class="text-danger mb-3">
                        <div asp-validation-summary="All"></div>
                    </div>

                    -->

                    <!-- Input Group for Category Name -->
                    <div class="mb-3">
                        <label asp-for="CategoryName" class="form-label"></label>
                        <input asp-for="CategoryName" class="form-control border border-primary" />
                        <!-- Validation Error Message for Category Name -->
                        <span asp-validation-for="CategoryName" class="text-danger"></span>
                    </div>

                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <!-- Close Button -->
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <!-- Submit Button for Form -->
                        <button type="submit" class="btn btn-primary">Save Category</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>